.index-one{
	display: inline-block;
	background-color: red;
	width: 400px;
	height: 400px;
	font-size: 40px;
}
.img-show{
	display: block;
}
.test-bk{
	width: 604px;
	height: 452px;
	background-image: url(../../img/spring_redpack.png);
	background-repeat: no-repeat;
}